/* =============================== GŁÓWNE USTAWIENIA TŁA STRONY =============================== */
body {
    background-color: darkgray;
    background-image: url(Zdjęcia/oscars.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center 100px;
}

/* =============================== STYLE DLA LINKÓW =============================== */
a {
    text-decoration: none;
    color: inherit;
}

/* =============================== STYLE DLA NAGŁÓWKA h3 =============================== */
h3 {
    position: absolute;
    top: 25px;
    right: 15px;
    text-align: right;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #FFD700, #FFC700, #FFAA00, #FF8800, 
    #FF6600, #FF3300, #FF0000, #CC3333, #999999, #CCCCCC, #DDDDDD, #F0F0F0);
    background-size: 400% 400%;
    animation: animate 15s ease infinite;
}

/* =============================== STYLE DLA NAGŁÓWKA h1 =============================== */
h1 {
    text-align: center;
    display: block;
    font-family: bebas neue;
    font-size: 56px;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #FFD700, #FFC700, #FFAA00, #FF8800, 
    #FF6600, #FF3300, #FF0000, #CC3333, #999999, #CCCCCC, #DDDDDD, #F0F0F0);
    background-size: 400% 400%;
    animation: animate 15s ease infinite;
    padding: 10px;
    margin: 0%;
    border: 0%;
}

/* =============================== ANIMACJA GRADIENTU DLA h1 I h3 =============================== */
@keyframes animate {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 100% 0;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0 100%;
    }
    100% {
        background-position: 0 0;
    }
}

/* =============================== NAWIGACJA (NAVBAR) =============================== */
.navbar {
    height: 120px;
    padding: 15px;
    margin: 10px;
    padding-left: 0px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    padding-left: 100px;
}

.navbar a {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #FFFF00, #FFEE00, #FFDD00, #FFCC00, #FFBB00,
     #FFAA00, #FF8800, #FF6600, #FF4400, #FF2200, #FF1100, #FF0000);
    background-size: 400% 400%;
    animation: animate 20s ease infinite;
    text-decoration: none;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.navbar a:hover {
    color: black;
    background-image: none;
    background-color: #FFD700;
    border-radius: 100%;
    width: 120px;
    height: 60px;
}
