/* =============================== USTAWIENIA OGÓLNE =============================== */
body{
    font-family: 'Parasite', sans-serif;                                   
    margin: 0;
    background-color:darkgrey;
}

/* =============================== STYLIZACJA LOGO =============================== */
#logo{
    display: flex;
    justify-content: center;
    background-color: black;
}

#a2 {
    text-decoration: none;
    color: inherit;
}

/* =============================== STYLIZACJA NAGŁÓWKA I TEKSTÓW =============================== */
h3{
    position: absolute;
    top: 25px;
    right: 15px;
    text-align: right;
    justify-content: right;
    color: white;
}

a{
    text-align: center;
}

img{
    justify-content: center;
    margin-bottom: 40px;
    height: 70%;
    width: 70%;
}

/* =============================== STYLIZACJA TRAILERA =============================== */
#trailer{
    display: flex;
    padding-top: 30px;
    justify-content: center;
    padding-bottom: 30px;
}

iframe{
    border: 5px solid black;
}

/* =============================== STYLIZACJA NAGŁÓWKÓW =============================== */
h1{
    text-align: center;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    color: white;
    font-size: 60px;
}

/* =============================== STYLIZACJA HISTORII =============================== */
#historia p{
    padding: 30px;
    margin-left: 6%;
    margin-right: 6%;
    text-align: center;
    font-size: 28px;
    font-style: Poppins, sans-serif;
    color: black;
    border: 5px solid black;
    background-color: whitesmoke;
}

/* =============================== STYLIZACJA TABELI =============================== */
table {
    width: 88%; 
    margin: 6%;
    padding: 30px;
    border-collapse: collapse;
    background-color: whitesmoke;
    text-align: center;
    border: 5px solid black;
}

th{
    border: 2px solid black;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
}

/* =============================== STYLIZACJA OBRAZÓW =============================== */
.images{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

.images img{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 30%;
    border: 3px solid black;
}
